
// Center text

%centered {
	text-align: center;
}

// Margin zero auto

%no-margin-auto {
	margin: 0 auto;
}

// Display none

%hide {
	display: none;
}

// Inline-block display

%inline-blk {
	display: inline-block;
}

// Clearfix

%clearfix {
	content: "";
    display: table;
    clear: both;
}