
// Center text

%centered {
	text-align: center;
}

// Margin zero auto

%no-margin-auto {
	margin: 0 auto;
}

// Display none

%hide {
	display: none;
}

// Inline-block display

%inline-block {
	display: inline-block;
}