
// Descriptive color variables

$grey       : grey;
$spectra    : #2F4F4F;
$light-grey : lightgrey;
$wild-sand  : #F6F6F6;

// Functional color variables

$color-background     : $wild-sand;
$color-text-dark      : $spectra;
$color-text-light     : $grey;
$color-section-border : $light-grey;
$white     			  : #fff;
$black    			  : #000;

// Font variables

$font-primary     : 'Francois One', sans-serif;
$font-secondary   : 'Rokkitt', serif;

// Media query breakpoints

$brk-tablet     : '(min-width: 768px)';
$brk-desktop    : '(min-width: 1024px)';