
.footer-name {
	@extend %inline-blk;
	float: left;
	padding-left: 10px;
	color: $color-text-dark;
	
	@media #{$brk-tablet} {
		padding-left: 50px;
	}
}

.back {
		@extend %inline-blk;
		float: right;
		padding-right: 10px;
		margin-top: 20px;
		
		@media #{$brk-tablet} {
			display: none;
		}

	& a {
		@include text(16px, $color: $color-text-dark);
	}
	& a:hover {
		@include text(16px, $color: $color-text-light);
	}
}

.responsive-nav {
		@extend %hide;
		
		@media #{$brk-tablet} {
			display: inline-block;
			float: right;
			margin-top: 20px;
			padding-right: 50px;
			padding-bottom: 70px;
		}


	& a:hover {
	
		@media #{$brk-tablet} {
			@include text(16px, $color: $color-text-light);
		}
}

}





