
img {
	width: 90%;	
	padding: 25px 0;
}

.image {
	&-gallery {
		background-color: $white;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	&-title {
		@extend %no-margin-auto;
		@include text(1.3em, $color: $color-text-light);
	}
	&-description, {
		@include mobile-description;
	}
}

.gallery li {

	@media #{$brk-tablet} {
		display: inline-block;
		width: 49%;
		margin-right: -4px;
		vertical-align: top;
	}
	
	@media #{$brk-desktop} {		
		width: 33%;		
	}
	
}
