

header ul li {
	background-color: $white;
	margin: 5px 3px;
	padding: 10px 0;
}

.main-nav {
	& {
		@extend %centered;
		@include text(16px,$weight: bold);

		@media #{$brk-desktop} {		
			float: right;
		}
	}
	& a:hover {
		color: $color-text-light;	
	}
	& li {
		@media (min-width: 768px) {
			display: inline-block;
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
			background-color: $color-background;
		}  
		
		@media #{$brk-desktop} {		
			padding: 30px 20px 0 10px;
		}
	}
}

.name {

	@media #{$brk-desktop} {
		display: inline-block;
		float: left;
		padding-left: 35px;
	}	
}

.container:after {
	@extend %clearfix;    
}







