* { 
    box-sizing: border-box;
}

body {
	@extend %centered;
    @extend %no-margin-auto;
    padding: 0;
    font-family: 'Francois One', sans-serif;
    color: $black;
    background-color: $color-background;
}